<div class="container">
    <p class="mystyle">LINNHOFF</p>
    <p class="mystyle1">LINNHOFF</p>
    <p class="mystyle2">LINNHOFF</p>
    <p class="mystyle3">LINNHOFF</p>
    <p class="mystyle4">LINNHOFF</p>
    <p class="mystyle5">LINNHOFF</p>
</div>
