.mystyle {
  color : $primary-color;
  font-size : 26px;
  @extend %cera-thin;
}

.mystyle1 {
  color : $primary-color;
  font-size : 26px;
  @extend %cera-light;
}

.mystyle2 {
  color : $primary-color;
  font-size : 26px;
  @extend %cera-regular;
}

.mystyle3 {
  color : $primary-color;
  font-size : 26px;
  @extend %cera-medium;
}

.mystyle4 {
  color : $primary-color;
  font-size : 26px;
  @extend %cera-bold;
}

.mystyle5 {
  color : $primary-color;
  font-size : 26px;
  @extend %cera-black;
}
