/*COLORS*/

$primary-color: #f9d421;
$secondary-color: #fff;
$white: #fff;
$black: #000;

/*FONT*/
@font-face {
    font-family: cera-thin;
    src: url(../fonts/CeraGRThin.otf);
}

@font-face {
    font-family: cera-light;
    src: url(../fonts/CeraGRLight.otf);
}

@font-face {
    font-family: cera-regular;
    src: url(../fonts/CeraGR.otf);
}

@font-face {
    font-family: cera-medium;
    src: url(../fonts/CeraGRMedium.otf);
}

@font-face {
    font-family: cera-bold;
    src: url(../fonts/CeraGRBold.otf);
}

@font-face {
    font-family: cera-black;
    src: url(../fonts/CeraBlack.otf);
}



/*INCLUDE FONT*/

%cera-thin {
    font-family: cera-thin;
}

%cera-light {
    font-family: cera-light;
}

%cera-regular {
    font-family: cera-regular;
}

%cera-medium {
    font-family: cera-medium;
}

%cera-bold {
    font-family: cera-bold;
}

%cera-black {
    font-family: cera-black;
}


/* Use by copying -- @extend %cera-font; -- into a class */
